.background {
  z-index: -1;
  position: absolute;
  top: 0;
  inset: 0;

  display: flex;
}

.background::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--shadow-car);
}

.cloud {
  position: absolute;
  z-index: -2;
  left: -258px;

  width: auto;
  height: 11vh;

  animation: moveCloud 10s linear infinite;
}

.cloud:nth-child(1) {
  top: 70px;
  animation-delay: 3s;
}

.cloud:nth-child(2) {
  top: 190px;
  /* left: 450px; */
  animation-delay: 7s;
}

.cloud:nth-child(3) {
  top: 400px;
  /* left: 800px; */
}

.cloud:nth-child(4) {
  top: 310px;
  /* left: 650px; */
  animation-delay: 5s;

}

.cloud:nth-child(5) {
  top: 450px;
  /* left: 450px; */
  animation-delay: 1.5s;

}


@keyframes moveCloud {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(100vw + 258px));
  }
}

.car {
  width: 100%;
  height: auto;
  margin-top: auto;
}